.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 29px 22px;
    gap: 72.20px;

    width: 297.29px;
    min-height: 100vh;
    background: #fafafa;
    box-shadow: 0px 3.12501px 35.1564px rgba(0,0,0.08);

    h1{
        font-family: var(--font-secondary);
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.006em;
        color: #222222;
    }
    img{
        width: 24px;
        height: auto;
    }
}